name: Preparant per producci贸
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD 
on:
  push:
    branches:
      - main
jobs:
  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenint el codi del respositori
        uses: actions/checkout@v4

      - name: Verificar variables de entorno
        run: |
          echo "PROD_USER: ${{ secrets.PROD_USER }}"
          echo "PROD_HOST: ${{ secrets.PROD_HOST }}"
          echo "PROD_KEY: ${{ secrets.PROD_KEY }}"

      - name: Preparar clau SSH amb permisos correctes
        run: |
          echo "${{ secrets.PROD_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          ls -la ~/prod_key.pem

      - name: Verificar conexi贸n SSH
        run: |
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "/home/runner/prod_key.pem" ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }} "echo 'Conexi贸n SSH exitosa'"

      - name: Preparar archivos locales
        run: |
          cd ${{ github.workspace }}

          cd front/next/
          npm install
          npm run build

          mkdir -p ${{ github.workspace }}/web
          mkdir -p ${{ github.workspace }}/web/public

          cd ../
          cp -r ./next/.next/standalone/.next/ ${{ github.workspace }}/web/
          cp -r ./next/.next/standalone/package.json ${{ github.workspace }}/web/
          cp -r ./next/.next/standalone/server.js ${{ github.workspace }}/web/
          cp -r ./next/.next/static ${{ github.workspace }}/web/

          echo "Action desplegant a produccio" > ${{ github.workspace }}/web/last_deploy.txt
          date >> ${{ github.workspace }}/web/last_deploy.txt

          ls -la ${{ github.workspace }}/web/

      - name: Limpiar directorio remoto
        run: |
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "/home/runner/prod_key.pem" ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }} "
            rm -rf /home/${{ secrets.PROD_USER }}/web/cinetix.daw.inspedralbes.cat/public_html/* &&
            echo 'Directorio remoto limpiado'
          "

      - name: Copiar archivos al servidor remoto
        run: |
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "/home/runner/prod_key.pem" /home/runner/work/tr3-cinema-24-25-***/tr3-cinema-24-25-***/web/* ***@***:/home/***/web/cinetix.***/public_html/

      - name: Start application
        run: |
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "/home/runner/prod_key.pem" ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }} "
            cd /home/a23agunovnov/web/cinetix.daw.inspedralbes.cat/public_html/ && npm start
          "

      - run: echo " This job's status is ${{ job.status }}."
