name: Preparant per producci贸
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD 
on: [push]
jobs:
  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenint el codi del respositori
        uses: actions/checkout@v4

      - name: Verificar variables de entorno
        run: |
          echo "PROD_USER: ${{ secrets.PROD_USER }}"
          echo "PROD_HOST: ${{ secrets.PROD_HOST }}"
          echo "PROD_KEY: ${{ secrets.PROD_KEY }}"

      - name: Verificar conexi贸n SSH
        run: |
          echo "${{ secrets.PROD_KEY }}" > /home/runner/prod_key.pem
          chmod 600 /home/runner/prod_key.pem
          ls -l /home/runner/prod_key.pem
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "/home/runner/prod_key.pem" ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }} "echo 'Conexi贸n SSH exitosa'"

      - name: Preparar archivos locales
        run: |
          cd ${{ github.workspace }}
          
          cd front/next/
          npm install
          npm run build
          
          mkdir -p ${{ github.workspace }}/web
          
          cp -r ./out/* ${{ github.workspace }}/web/
          
          echo "Action desplegant a produccio" > ${{ github.workspace }}/web/last_deploy.txt
          date >> ${{ github.workspace }}/web/last_deploy.txt
          
          ls -la ${{ github.workspace }}/web/

      - name: Copiar archivos al servidor remoto
        run: |
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "/home/runner/prod_key.pem" ${{ github.workspace }}/web/* ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }}:/home/a23agunovnov/web/a23agunovnov.daw.inspedralbes.cat/public_html/cinetix

      - run: echo " This job's status is ${{ job.status }}."
